
#container{
	width: 1200px;
	box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.4);
	overflow: hidden;
	margin: 0 auto; 
	padding: 5%;
	position: relative;
	height: 2000px;
}

#child{
	height: 300px;
	background-color: rgba(231,123,131,0.4);
	padding: 40px;
	margin: 40px;
	border: 1px solid gray;
}

#secondChild{
	height: 400px;
	background-color: rgba(112,156,214,0.4); 
	padding: 30px; 
	margin: 30px;
	border: 80px solid gray; 
}

#absoluteChild{
	position: absolute;
	left: 39%; 
	height: 200px; 
	background-color: rgba(133,213,132,0.4); 
	bottom: 300px;
	padding: 30px;
	overflow: scroll;
	width: 200px;
}

