
.container{
	width: 1200px;
	box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 5px 35px 0px rgba(0,0,0,0.4);
	overflow: hidden;
	margin: 0 auto; 
	padding: 5%;
}
.carousel-container{
	width: 852px;
	margin: 0 auto;
	overflow: hidden;
}
#carousel{
	list-style-type: none;
	padding-left: 0;
	height: 65px;
	display: block;
	position: relative;
	left: 0; 
	top: 0;
}

#carousel li{
	display: inline-block;
	width: 142px;
	position: absolute;

}

#carousel li img{
	width: 100%;
}